---
layout: page
title: "Introduction to Rui Li"
description: "Biosketch and publications"
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <h4>Biosketch</h4>
    <p>Rui Li received the B.Eng degree in automation engineering from the University of Electronic Science and
        Technology of China (UESTC), Chengdu, China, in 2013 and the Ph.D. degree from the Institute of Automation,
        Chinese Academy of Science (CASIA), Beijing, China in 2018, respectively.</p>
    <p>From 2014 to 2018, he served as the Editorial Assistant of Assembly Automation. From 2018 to 2020, he worked as a postdoc
        researcher with Informatics 6, Technical University of Munich. Currently he is a Hongshen Faculty with Chongqing
        University. His research interests include intelligent robot system and high-precision assembly.</p>
    <p>&nbsp;</p>
    <h4>Publications</h4>
    <p>By 2018, Rui LI has published 16 high-quality papers in high-impact factor journals (such as IEEE/ASME
        T-MECH) and influential international conferences (such as IROS and WCICA). He has also applied 6 patents in
        China (3 granted).</p>
    <h5>Journal Papers</h5>
    <ul>
        <li><strong>R. Li</strong> and H. Qiao, ‘A Survey of Methods and Strategies for High-Precision Robotic Grasping 
            and Assembly Tasks—Some New Trends,’ <em>IEEE/ASME Transactions on Mechatronics</em>: 2019, 24(6), 2718-2732.</li>
        <li><strong>R. Li</strong> and H. Qiao, ‘Condition and Strategy Analysis for Assembly based on Attractive Region
            in Environment,’ <em>IEEE/ASME Transactions on Mechatronics</em>: 2017, 22(5), 2218–2228.</li>
        <li><strong>R. Li</strong>, W. Wu, H. Qiao, ‘The compliance of robotic hands–from functionality to mechanism,’
            <em>Assembly Automation</em>: 2015, 35(3), 281–286.</li>
        <li>H. Qiao, M. Wang, J.H. Su, S.X. Jia and <strong>R. Li</strong>, ‘The Concept of Attractive Region in
            Environment and its Application in High-Precision Tasks With Low-Precision Systems,’ <em>IEEE/ASME Transactions on</em>
            <em>Mechatronics</em>: 2015, 20(5), 2311–2327.</li>
        <li>H. Qiao, C. Ma, <strong>R. Li</strong>, X.Q. Li, Z.Y. Chen, W. Wu and L. J. Xu, ‘Simple coarse sensing to
            achieve high precision From attractive region in environment to constrained region in environment,’ <em>Systems</em>
            <em>Science &amp; Control Engineering</em>: 2017, 5(1), 16–24.</li>
        <li>C. Ma, H. Qiao, <strong>R. Li</strong> and X.Q. Li, ‘Flexible robotic grasping strategy with constrained
            region
            in environment,’ <em>International Journal of Automation and Computing</em>: 2017, 14(5), 552-563.</li>
        <li>W.J. Zhu, P. Wang, <strong>R. Li</strong> and X.L. Nie, ‘Real-time 3D work-piece tracking with monocular
            camera
            based on static and dynamic model libraries,’ <em>Assembly Automation</em>: 2017, 37(2), 219–229.</li>
        <li>J.H. Su, <strong>R. Li</strong>, H. Qiao, J. Xu, Q.L. Ai and J.K. Zhu, ‘Study on Dual Peg-in-hole Insertion
            using
            of Con- straints Formed in the Environment,’ <em>Industrial Robot: An International Journal</em>: 2017,
            44(6), 730–740.</li>
        <li>H. Qiao, C. Ma and <strong>R. Li</strong>, ‘Compliant robotic manipulation: A neurobiologic strategy,’
            Brain-inspired intelligent robotics: <em>The intersection of robotics and neuroscience</em> (Science/AAAS,
            Washington, DC): 2016, 47–50.</li>

    </ul>
    <h5>Conference Papers</h5>
    <ul>
        <li>X.Q. Li, <strong>R. Li</strong>, H. Qiao, C. Ma and L. Li, ‘Human-Inspired Compliant Strategy for
            Peg-in-Hole
            Assem- bly Using Environmental Constraint and Coarse Force Information,’ <em>2017 30th IEEE/RSJ</em>
            <em>International Conference on Intelligent Robots and Systems (IROS)</em>, 24-28 Sep 2017, pp. 4743–4748.
        </li>
        <li>Z.Y. Chen, <strong>R. Li</strong>, C. Ma, X.Q. Li, X. Wang and K.G. Zeng, ‘3D vision based fast badminton
            localization with prediction and error elimination for badminton robot,’ <em>2016 12th World Congress on
                Intelligent Control and Automation (WCICA)</em>, 12-15 June 2016, pp. 3050–3055.</li>
        <li>X.Q. Li, H. Qiao, C. Ma, <strong>R. Li</strong> and K.G. Zeng, ‘A dynamical compliant grasping strategy for
            dexterous robotic hands with cushioning mechanism,’ <em>2016 12th World Congress on Intelligent Control and
                Automation (WCICA)</em>, 12-15 June 2016, pp. 2204–2208.</li>

    </ul>
    <h5>Magazine Articles</h5>
    <ul>
        <li>H. Qiao, <strong>R. Li</strong>, P.J. Yin, ‘Robotics and Automation Activities in China [Industrial
            Activities],’ <em>IEEE Robotics &amp; Automation Magazine</em>: 2017, 22(3), 14–17.</li>
        <li>H. Qiao, P.J. Yin and <strong>R. Li</strong>, ‘What is the Meaning for the Interdisciplinary Research of
            Robot
            and Neu- roscience? —Thoughts on the Future Development of Intelligent Robot [in Chinese],’
            <em>Bulletin of Chinese Academy of Sciences</em>: 2015(6), 762–771.</li>

    </ul>
    <hr />
    <h5>Granted Patents</h5>
    <ul>
        <li>H. Qiao, R. Li, C. Ma, X. Q. Li, Z. Y. Chen, ‘An Attractive Region in Environment based Peg-Hole Insertion
            Method and System,’ Invention Patent: 201610089839.6.</li>
        <li>H. Qiao, Z. Y. Chen, C. Ma, <strong>R. Li</strong>, X. Q. Li, ‘A Robotic Hand for Peg-Hole Insertion,’
            Utility Model Patent: ZL201620131470.6.</li>
        <li>X. Q. Li, H. Qiao, J. H. Su, <strong>R. Li</strong>, Y. B. Song, X. Zhao, A. L. Yang, Robotic Grasping
            System,’ Utility
            Model Patent: ZL201520790633.7.</li>

    </ul>
    <h5>Applied Patents</h5>
    <ul>
        <li>X. Q. Li, H. Qiao, J. H. Su, <strong>R. Li</strong>, Y. B. Song, X. Zhao, A. L. Yang, ‘Robotic Grasping
            Method and System,’
            Invention Patent: 201510659123.0.</li>
        <li>H. Qiao, X. Q. Li, C. Ma, <strong>R. Li</strong>, Z. Y. Chen, ‘An Attractive Region in Environment based
            Planning Method for Robotic Hand Grasping,’ Invention Patent: 201610108378.2.</li>
        <li>H. Qiao, C. Ma, <strong>R. Li</strong>, Z. Y. Chen, X. Q. Li, ‘A Task Management Method and System for
            Robot,’ Invention Patent: 201610118319.3.</li>

    </ul>
    <p>&nbsp;</p>
    <h4>Professional Activities</h4>
    <ul>
        <li>
            <p><strong>Session Co-Chair</strong></p>
            <p>Aug 20-23, 2017, Xi’an, China</p>
            <p>13th IEEE Conference on Automation Science and Engineering (CASE 2017) Organized the special session,
                entitled ‘The Interaction and Integration of Sensing, Motor and Environment for Robotic Manipulation’.
                Based on this special session, we hope to discuss how to introduce human nature to robotic manipulation
                systems.</p>
        </li>
        <li>
            <p><strong>Committee Member</strong></p>
            <p>IEEE RAS TECHNICAL COMMITTEE for Robotic Hands, Grasping and Manipulation</p>
            <p>Communication with researchers in robotic manipulation area.</p>
        </li>
        <li>
            <p><strong>Reviewer</strong></p>
            <p>Reviewer for journals such as IEEE/ASME Transactions on Mechatronics, IEEE Transactions
                on Automation Science and Engineering, Assembly Automation and for conferences
                such as IROS.</p>
        </li>
    </ul>

</div>

<!-- English Version -->
<!-- <div class="en post-container">
    
    <p>Rui Li received the B.Eng degree in automation engineering from the University of Electronic Science and Technology of China (UESTC), Chengdu, China, in 2013 and the Ph.D. degree from the Institute of Automation, Chinese Academy of Science (CASIA), Beijing, China in 2018, respectively.</p>
    <p>From 2014 to 2018, he served as the Editorial Assistant of Assembly Automation. He is currently a postdoc researcher with Informatics 6, Technical University of Munich. His research interests include intelligent robot system and high-precision assembly.</p>

</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

